version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.14
    working_directory: /go/src/github.com/arjunrajshekhar/terraform-provider-instaclustr
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run:
          name: "Run tests"
          command: |
            make build
            make install
            make testacc
      - run:
          name: "Import GPG key"
          command: |
            echo ${GPG_PRIVATE_KEY} | base64 --decode > private.key
            gpg --batch --import --yes private.key
            rm private.key
      - run:
          name: "Configure GPG Agent"
          command: |
            echo allow-preset-passphrase > ~/.gnupg/gpg-agent.conf
            gpg-connect-agent "RELOADAGENT" /bye
      - run:
          name: "Preset passphrase"
          command: |
            for keygrip in $(gpg --batch --yes --with-colons --with-keygrip --list-secret-keys ${GIT_EMAIL} | grep grp | sed 's|[grp:,]||g'); do
              /usr/lib/gnupg2/gpg-preset-passphrase --preset --passphrase ${GPG_PASSPHRASE} ${keygrip}
            done
      - run:
          name: "Build for Windows, Linux and OSX and sign the assets"
          command: |
            BIN_NAME="terraform-provider-instaclustr"
            FULL_BIN_NAME="${BIN_NAME}_${CIRCLE_TAG}"
            SHASUM_NAME="${BIN_NAME}_${CIRCLE_TAG:1}"
            env GOOS=linux GOARCH=amd64 make build FLAGS="-tags netgo -a -v" VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_alpine_amd64.zip bin/${FULL_BIN_NAME}
            env GOOS=darwin GOARCH=amd64 make build VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_darwin_amd64.zip bin/${FULL_BIN_NAME}
            env GOOS=linux GOARCH=amd64 make build VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_linux_amd64.zip bin/${FULL_BIN_NAME}
            env GOOS=linux GOARCH=arm64 make build VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_linux_arm64.zip bin/${FULL_BIN_NAME}
            env GOOS=linux GOARCH=arm GOARM=6 make build VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_linux_arm.zip bin/${FULL_BIN_NAME}
            env GOOS=windows GOARCH=amd64 make build VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_windows_amd64.zip bin/${FULL_BIN_NAME}
            env GOOS=windows GOARCH=386 make build VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_windows_386.zip bin/${FULL_BIN_NAME}
            rm bin/${FULL_BIN_NAME}
            cd bin
            shasum -a 256 *.zip > ${SHASUM_NAME}_SHA256SUMS
            gpg --batch --detach-sign --yes ${SHASUM_NAME}_SHA256SUMS
      - run:
          name: "Clean up GPG keys and kill agent"
          command: |
            for fingerprint in $(gpg --batch --yes --with-colons --fingerprint --list-secret-keys ${GIT_EMAIL} | grep fpr | sed 's|[fpr:,]||g'); do
              gpg --batch --delete-secret-keys --yes ${fingerprint} || true
            done
            gpg-connect-agent "KILLAGENT" /bye
      - run:
          name: "Publish Release on GitHub"
          command: |
            go get github.com/tcnksm/ghr
            ghr -t ${GITHUB_TOKEN} \
            -u ${CIRCLE_PROJECT_USERNAME} \
            -r ${CIRCLE_PROJECT_REPONAME} \
            -c ${CIRCLE_SHA1} \
            -delete \
            -n "Release ${CIRCLE_TAG}" \
            -b "Generated by Instaclustr's Circle CI account." \
            ${CIRCLE_TAG} ./bin/

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
