version: 2.1
parameters:
  is-pr:
    type: boolean
    default: false
commands: # a reusable command with parameters
  build-provider:
    steps:
      - run:
          name: "Build provider to binary"
          command: make build
  run-unit-tests:
    steps:
      - run:
          name: "Run unit tests"
          command: make test
  run-acceptance-tests:
    steps:
      - run:
          name: "Run acceptance tests"
          command: make testacc
  configure-credentials:
    steps:
      - run:
          name: "Configure Instaclustr credentials"
          command: |
            export IC_USERNAME=${IC_TEST_USERNAME}
            export IC_API_KEY=${IC_TEST_API_KEY}
            export KMS_ARN=${IC_TEST_KMS_ARN}
            export IC_PROV_ACC_NAME=${IC_TEST_PROV_ACC_NAME}
            export IC_PROV_VPC_ID=${IC_TEST_PROV_VPC_ID}
      - run:
          name: "Import GPG key"
          command: |
            echo ${GPG_PRIVATE_KEY} | base64 --decode > private.key
            gpg --batch --import --yes private.key
            rm private.key
      - run:
          name: "Configure GPG Agent"
          command: |
            echo allow-preset-passphrase > ~/.gnupg/gpg-agent.conf
            gpg-connect-agent "RELOADAGENT" /bye
      - run:
          name: "Preset passphrase"
          command: |
            for keygrip in $(gpg --batch --yes --with-colons --with-keygrip --list-secret-keys ${GIT_EMAIL} | grep grp | sed 's|[grp:,]||g'); do
              /usr/lib/gnupg2/gpg-preset-passphrase --preset --passphrase ${GPG_PASSPHRASE} ${keygrip}
            done
  package-all-platforms:
    steps:
      - run:
          name: "Build for Windows, Linux and OSX and sign the assets"
          command: |
            BIN_NAME="terraform-provider-instaclustr"
            FULL_BIN_NAME="${BIN_NAME}_${CIRCLE_TAG}"
            SHASUM_NAME="${BIN_NAME}_${CIRCLE_TAG:1}"
            env GOOS=linux GOARCH=amd64 make build FLAGS="-tags netgo -a -v" VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_alpine_amd64.zip bin/${FULL_BIN_NAME}
            env GOOS=darwin GOARCH=amd64 make build VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_darwin_amd64.zip bin/${FULL_BIN_NAME}
            env GOOS=linux GOARCH=amd64 make build VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_linux_amd64.zip bin/${FULL_BIN_NAME}
            env GOOS=linux GOARCH=arm64 make build VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_linux_arm64.zip bin/${FULL_BIN_NAME}
            env GOOS=linux GOARCH=arm GOARM=6 make build VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_linux_arm.zip bin/${FULL_BIN_NAME}
            env GOOS=windows GOARCH=amd64 make build VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_windows_amd64.zip bin/${FULL_BIN_NAME}
            env GOOS=windows GOARCH=386 make build VERSION=${CIRCLE_TAG}
            zip -j bin/${FULL_BIN_NAME}_windows_386.zip bin/${FULL_BIN_NAME}
            rm bin/${FULL_BIN_NAME}
  sign-builds:
    steps:
      - run:
          name: "Sign builds with GPG and SHA256"
          command: |
            cd bin
            shasum -a 256 *.zip > ${SHASUM_NAME}_SHA256SUMS
            gpg --batch --detach-sign --yes ${SHASUM_NAME}_SHA256SUMS
  clean-gpg-keys:
    steps:
      - run:
          name: "Clean up GPG keys and kill agent"
          command: |
            for fingerprint in $(gpg --batch --yes --with-colons --fingerprint --list-secret-keys ${GIT_EMAIL} | grep fpr | sed 's|[fpr:,]||g'); do
              gpg --batch --delete-secret-keys --yes ${fingerprint} || true
            done
            gpg-connect-agent "KILLAGENT" /bye
  create-github-release:
    steps:
      - run:
          name: "Publish Release on GitHub"
          command: |
            go get github.com/tcnksm/ghr
            ghr -t ${GITHUB_TOKEN} \
            -u ${CIRCLE_PROJECT_USERNAME} \
            -r ${CIRCLE_PROJECT_REPONAME} \
            -c ${CIRCLE_SHA1} \
            -delete \
            -n "Release ${CIRCLE_TAG}" \
            -b "Generated by Instaclustr's Circle CI account." \
            ${CIRCLE_TAG} ./bin/
jobs:
  build:
    docker:
      - image: circleci/golang:1.14
    working_directory: /go/src/github.com/arjunrajshekhar/terraform-provider-instaclustr
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - configure-credentials
      - run-unit-tests
      - run-acceptance-tests
      - build-provider
      - package-all-platforms
      - sign-builds
      - clean-gpg-keys
      - create-github-release
  commit-build-test:
    docker:
      - image: circleci/golang:1.14
    working_directory: /go/src/github.com/arjunrajshekhar/terraform-provider-instaclustr
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - build-provider
      - run-unit-tests
  pr-build-test:
    docker:
      - image: circleci/golang:1.14
    working_directory: /go/src/github.com/arjunrajshekhar/terraform-provider-instaclustr
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run-unit-tests
#      - run-acceptance-tests
      - build-provider
      - package-all-platforms
workflows:
  build-and-deploy:
    jobs:
      - commit-build-test:
          context: terraform provider
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
  commit-build-test:
    jobs:
      - commit-build-test
  pr-build-test:
    jobs:
      - pr-build-test:
          type: approval
          filters:
            tags:
              only: /acctest_ready.*/
          context: terraform provider
